body {
  font-family: "Raleway", sans-serif;
  background-color: #036800;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 255px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 705;
  color: #036800;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
